<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.calendarpicker.demo"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">

      	<provider android:label="Demo event generator"
   			android:name="org.openintents.calendarpicker.demo.provider.EventContentProvider"
	        android:authorities="org.openintents.calendarpicker.demo.provider.events"
		/>

       <activity android:name="org.openintents.calendarpicker.demo.Demo"
               android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
    </application>
    <uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>

</manifest> 