<?xml version="1.0" encoding="utf-8"?>
<!--
**
** 	 Copyright (C) 2008-2009 pjv (and others, see About dialog)
** 
** 	 This file is part of OI About.
**
**   OI About is free software: you can redistribute it and/or modify
**   it under the terms of the GNU General Public License as published by
**   the Free Software Foundation, either version 3 of the License, or
**   (at your option) any later version.
**
**   OI About is distributed in the hope that it will be useful,
**   but WITHOUT ANY WARRANTY; without even the implied warranty of
**   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
**   GNU General Public License for more details.
**
**   You should have received a copy of the GNU General Public License
**   along with OI About.  If not, see <http://www.gnu.org/licenses/>.
**
**	 Some elements based on veecheck-sample.
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.about"
      android:versionCode="1"
      android:versionName="0.1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <meta-data android:name="org.openintents.updatechecker.UPDATE_URL"
                       android:value="@string/version_file_url" />
        
        <activity android:name=".About" android:screenOrientation="sensor"
                  android:label="@string/about_activity_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="org.openintents.action.SHOW_ABOUT_DIALOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    	<activity android:name=".Preferences" android:label="@string/preferences_activity_name" android:screenOrientation="sensor">
    	</activity>
        
        <activity android:name=".versioncheck.VersioncheckActivity" android:label="@string/vc_confirm_title" android:screenOrientation="sensor">
		</activity>

		<receiver android:name=".versioncheck.VersioncheckBroadcastReceiver">
			<intent-filter>
				<action android:name="org.openintents.about.VEECHECK_RESCHEDULE_CHECKS">
				</action>
			</intent-filter>

			<intent-filter>
				<action android:name="org.openintents.about.VEECHECK_CONSIDER_CHECK">
				</action>
			</intent-filter>
			
			<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
		</receiver>

		<service android:name=".versioncheck.VersioncheckService">
			<intent-filter>
				<action android:name="org.openintents.about.VEECHECK_PERFORM_CHECK">
				</action>
				<data android:scheme="http"/>
			</intent-filter>
		</service>
	</application>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.INTERNET"/>
</manifest> 