<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.home.widgets.shopping"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="3" />

    <application android:label="@string/app_name">

        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name=".SingleRowShoppingWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/singlerowshoppingwidget" />
        </receiver>
        
        <!-- Service to perform web API queries -->        
        <service android:name=".SingleRowShoppingWidget$UpdateService" />

    </application>
</manifest> 
