<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.timescape"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="5" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name=".ui.ConfigActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="org.openintents.timescape.ACTION_CONFIG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ViewEventHandlerActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.openintents.timescape.ACTION_VIEW_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<provider 
			android:name=".api.provider.EventStreamCompatibleProvider"
			android:authorities="com.sonyericsson.eventstream">
		</provider>
		
		<provider 
			android:name=".sharedsource.TimescapeProvider"
			android:authorities="org.openintents.historify.timescape">
		</provider>
		
		 <receiver 
              android:name=".sharedsource.HistorifyBroadcastReceiver">
        	<intent-filter>
                <action android:name="org.openintents.historify.REQUEST_REGISTER_SOURCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
    	</receiver>
		
		<receiver 
              android:name=".api.service.PackageChangesReceiver">
        	<intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" /> 
                <data android:scheme="package"/>
            </intent-filter>
    	</receiver>
    	
    	<service android:name=".api.service.TimescapeCompatibilityService" /> 
		
    </application>
    
</manifest>