<?xml version="1.0" encoding="utf-8"?>
<!-- 
	* Copyright (C) 2007-2008 OpenIntents.org
	*
	* Licensed under the Apache License, Version 2.0 (the "License");
	* you may not use this file except in compliance with the License.
	* You may obtain a copy of the License at
	*
	*      http://www.apache.org/licenses/LICENSE-2.0
	*
	* Unless required by applicable law or agreed to in writing, software
	* distributed under the License is distributed on an "AS IS" BASIS,
	* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	* See the License for the specific language governing permissions and
	* limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.openintents">

    <!-- required for ContentBrowserView (in order to view tagged people) -->
	<uses-permission id="android.permission.READ_CONTACTS" android:name="android.permission.READ_CONTACTS" />
	<uses-permission id="android.permission.ACCESS_LOCATION" android:name="android.permission.ACCESS_LOCATION" />
	
	<!-- required for Locations (in order to getCurrentLocation) -->
	<uses-permission android:name="android.permission.ACCESS_GPS" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	
	<instrumentation android:name=".Positron" android:targetPackage="org.openintents" 
	android:label="@string/oi_acceptancetest"/>
	
	<application android:icon="@drawable/openintents002a" android:label="@string/app_name">
		<!-- Providers -->
		<provider android:name=".locations.LocationsProvider"
			android:authorities="org.openintents.locations" />
		<provider android:name=".tags.TagsProvider"
			android:authorities="org.openintents.tags" />
		<provider android:name=".shopping.ShoppingProvider"
			android:authorities="org.openintents.shopping" />

		

		<provider android:name="org.openintents.news.NewsProvider"
			android:authorities="org.openintents.news" />		

	

		<!-- 
			<provider android:name=".tags.content.ContentIndexProvider"
			android:authorities="org.openintents.contentindices" />			
		-->

		<provider android:name=".tags.content.ContentIndexProvider"
			android:authorities="org.openintents.contentindices" />

		

		


		<provider android:name=".hardware.HardwareProvider"
			android:authorities="org.openintents.hardware" />


		<!-- Main activity -->
		<activity android:name=".main.OpenIntentsView"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".main.About"
			android:label="@string/about_openintents">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<!-- <category
					android:name="android.intent.category.LAUNCHER" />   -->
			</intent-filter>
		</activity>

		<!-- Locations activity -->
		<activity android:name=".locations.LocationsView"
			android:label="@string/list_of_locations"
			android:icon="@drawable/locations_application001a">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<!--  <category
					android:name="android.intent.category.LAUNCHER" />  -->
				<category
					android:name="org.openintents.category.MAIN" />
			</intent-filter>
		</activity>

		<!-- Location Map activity -->
		<activity android:name=".locations.LocationsMapView"
			android:label="@string/locations_map">
		</activity>

		<!-- Tags activity -->
		<activity android:name=".tags.TagsView"
			android:label="@string/list_of_tags"
			android:icon="@drawable/tagging_application001a">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<!--  <category
					android:name="android.intent.category.LAUNCHER" />  -->
				<category android:name="org.openintents.category.SETTINGS" /> 
			</intent-filter>
			<intent-filter>
				<action android:name="org.openintents.action.TAG" />
				<category

					android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/tag" />

			</intent-filter>
			<intent-filter>
				<action android:name="org.openintents.action.TAG"
					android:label="tag" />
				<category
					android:name="android.intent.category.ALTERNATIVE" />
				<data android:scheme="content" />
			</intent-filter>
			<intent-filter>
				<action android:name="org.openintents.action.TAG"
					android:label="tag" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:scheme="content" />
			</intent-filter>
		</activity>

		<!-- android:icon="@drawable/directory" -->
		<activity android:name=".tags.content.ContentBrowserView"
			android:label="@string/content_browser" 
			android:icon="@drawable/tagging_application001a">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
				<category android:name="org.openintents.category.MAIN" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/tag" />

			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.item/tag" />
			</intent-filter>
		</activity>

		<activity android:name=".tags.TagsAddView"
			android:label="@string/tags_add_tag">
			<intent-filter android:icon="@drawable/tag_add001a">			    
				<action android:name="org.openintents.action.TAG" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.ALTERNATIVE" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.openintents.cursor.dir/tag" />
			</intent-filter>

			<intent-filter android:icon="@drawable/tag_add001a">			    
				<action android:name="android.intent.action.INSERT" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.ALTERNATIVE" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.openintents.cursor.dir/tag" />
			</intent-filter>
		</activity>

		<activity android:name=".tags.TagsCloudView"
			android:label="@string/tags_cloud">
			<intent-filter android:icon="@drawable/folder">			    
				<action android:name="android.intent.action.PICK" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.ALTERNATIVE" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.openintents.cursor.dir/tag" />
			</intent-filter>
		</activity>

		<activity android:name=".tags.content.PackageList">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/contentdirectory" />
			</intent-filter>
		</activity>
		
		<activity android:name=".tags.content.PackageAdd" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/contentdirectory" />
            </intent-filter>
        </activity>
        

		<!-- Shopping activity -->
		<activity android:name=".shopping.ShoppingView"
			android:label="@string/shopping_list" 
			android:icon="@drawable/shoppinglist_application001a">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="org.openintents.category.MAIN" />
				<!-- -->  <category android:name="android.intent.category.LAUNCHER" />  <!--  -->
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.PICK" />
				<action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/shopping.list" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.item/shopping.list" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.PICK" />
				<action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/shopping.item" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.item/shopping.item" />
			</intent-filter>
		</activity>

		<!-- Ma.Gnolia Tags activity -->
		<activity android:name=".tags.MagnoliaSettings"
			android:label="@string/magnolia_settings"
			android:icon="@drawable/tagging_magnolia_application001a" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="org.openintents.category.SETTINGS" />            					
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/tag"/>               					             					
			</intent-filter>
		</activity>		
		<activity android:name=".tags.MagnoliaTagging"
			android:label="@string/magnolia_tagging"
			android:icon="@drawable/tagging_magnolia_application001a">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="org.openintents.category.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />              					
			</intent-filter>

			<intent-filter>
				<action android:name="org.openintents.action.TAGMAGNOLIA"
					android:label="tag" />
				<category android:name="android.intent.category.DEFAULT" />				
				<category android:name="android.intent.category.ALTERNATIVE" />				
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.EDIT"
					android:label="tag" />
				<category android:name="android.intent.category.DEFAULT" />				
				<category android:name="android.intent.category.ALTERNATIVE" />				
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/tag"/>               					           					
			</intent-filter>

		</activity>	
		
		<!-- SensorSimulator -->
		<activity android:name=".hardware.SensorSimulatorView"
			android:label="@string/sensorsimulator"
			android:icon="@drawable/mobile_shake_application001a">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="org.openintents.category.SETTINGS" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.openintents.cursor.dir/hardware.preference"/>
			</intent-filter>
		</activity>
		
		<!-- news services -->
		<service android:name=".news.services.NewsreaderService"
				 android:enabled="true"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				
				<!--  <category
					android:name="android.intent.category.LAUNCHER" />  -->              					
			</intent-filter>
		</service>
		<activity android:name=".news.services.NewsServiceSettings"
			android:label="@string/news_service_settings"
			android:icon="@drawable/news_service_settings">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="org.openintents.category.SETTINGS" />
			</intent-filter>

			<intent-filter>
				<action android:name="org.openintents.action.CONFIG_NEWSREADERSERVICE"
					android:label="tag" />
				<category android:name="android.intent.category.DEFAULT" />				
				<category android:name="android.intent.category.ALTERNATIVE" />				
			</intent-filter>
		</activity>

	</application>	 
</manifest>
