<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.extensions.ROT13"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ROT13Activity"
                  android:label="@string/rot13"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="org.openintents.action.ROT13" />
                <category android:name="org.openintents.category.TEXT_SELECTION_ALTERNATIVE" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest> 