<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.distribution"
      android:versionCode="1"
      android:versionName="1.0.0">
    <uses-sdk android:minSdkVersion="2" />
    <application android:label="@string/oi_distribution_app_name">
        <activity android:name="org.openintents.distribution.EulaActivity"
              android:label="@string/oi_distribution_eula_title">
        </activity>
    </application>
</manifest> 
