<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.convertcsv"
      android:versionCode="2"
      android:versionName="1.0.1">
    <!-- History: 
      1.0.1 [2]: ??
      1.0.0 [1]: Dec 9, 2008. -->
    <application android:icon="@drawable/ic_menu_convert_csv" android:label="@string/app_name">
        <activity android:name=".shoppinglist.ConvertCsvActivity"
                  android:label="@string/app_name">
                  <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             	-->
            <intent-filter android:label="@string/convert_csv">   
                <action android:name="org.openintents.convertcsv.CONVERT"/>                        
                <category android:name="android.intent.category.ALTERNATIVE" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.shopping.list" />
            </intent-filter>
            <!-- The following intent makes it viewable in a file browser. -->
            <intent-filter android:label="@string/convert_csv_shoppinglist">   
                <action android:name="android.intent.action.VIEW"/>                        
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/csv" />
            </intent-filter>
        </activity>
        <activity android:name=".notepad.ConvertCsvActivity"
                  android:label="@string/app_name">
                  <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             	-->
            <intent-filter android:label="@string/convert_csv">   
                <action android:name="org.openintents.convertcsv.CONVERT"/>                        
                <category android:name="android.intent.category.ALTERNATIVE" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.notepad.note" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openintents.notepad.note" />
            </intent-filter>
            
            <!-- The following intent makes it viewable in a file browser. -->
            <intent-filter android:label="@string/convert_csv_notepad">   
                <action android:name="android.intent.action.VIEW"/>                        
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/csv" />
            </intent-filter>
        </activity>
        
		<activity android:name=".PreferenceActivity"
			android:label="@string/menu_settings">
		</activity>
    </application>
</manifest> 