<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.samples.timescapeextension"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" />
	<uses-permission android:name="com.sonyericsson.eventstream.PLUGIN_PERMISSION" />
	
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
    	<uses-library android:name="com.sonyericsson.eventstream_1" android:required="false" />
    	
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name="ConfigActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
			<intent-filter>
                 <action android:name="android.intent.action.MAIN" />
			</intent-filter>
        </activity>

	 	<receiver android:name="EventStreamListener">
	        <intent-filter>
	            <action
	             android:name="com.sonyericsson.eventstream.REGISTER_PLUGINS" />
	        </intent-filter>
	        <intent-filter>
	            <action
	               android:name="com.sonyericsson.eventstream.SEND_STATUS_UPDATE"
	               />
	        </intent-filter>
	        <intent-filter>
	            <action android:name="com.sonyericsson.eventstream.REFRESH_REQUEST"
	            />
	        </intent-filter>
	        <intent-filter>
	            <action
	            android:name="com.sonyericsson.eventstream.VIEW_EVENT_DETAIL" />
	        </intent-filter>
	    </receiver>

 		<service android:name=".PluginService" android:process=":remote" android:label="@string/app_name" />

    </application>
</manifest>