<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.convertcsv"
      android:installLocation="auto"
      android:versionName="1.1.0"
      android:versionCode="8">
    <!-- History:
	 * * * UPDATE ATRACKDOG METADATA BELOW FOR RELEASE CANDIDATES * * *
      1.1.0 [8]: 2011-05-28
      1.1.0-rc1 [7]: 2011-05-01
      1.1.0-beta1 [6]: 2011-02-12
      1.0.2-rc2 [5]: 2010-09-28
      1.0.2-rc1 [4]: 2009-04-21
      1.0.1 [3]: 2009-01-22
      1.0.0 [1]: 2008-12-09. -->
      
    <uses-sdk android:minSdkVersion="2"
            android:targetSdkVersion="9" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    
    <application android:icon="@drawable/ic_menu_convert_csv" android:label="@string/app_name">
        <!-- aTrackDog metadata -->
        <meta-data android:name="com.a0soft.gphone.aTrackDog.testVersion"
           android:value="7" />
        
        <meta-data android:name="org.openintents.metadata.COMMENTS"
                       android:value="@string/about_comments" />
        <meta-data android:name="org.openintents.metadata.COPYRIGHT"
                       android:value="@string/about_copyright" />
        <meta-data android:name="org.openintents.metadata.AUTHORS"
                       android:resource="@array/about_authors" />
        <meta-data android:name="org.openintents.metadata.DOCUMENTERS"
                       android:resource="@array/about_documenters" />
        <meta-data android:name="org.openintents.metadata.TRANSLATORS"
                       android:resource="@string/about_translators" />
        <meta-data android:name="org.openintents.metadata.ARTISTS"
                       android:resource="@array/about_artists" />
        <meta-data android:name="org.openintents.metadata.WEBSITE_LABEL"
                       android:value="@string/app_name" />
        <meta-data android:name="org.openintents.metadata.WEBSITE_URL"
                       android:value="@string/app_name" />
        <meta-data android:name="org.openintents.metadata.LICENSE"
                       android:resource="@raw/license_short" />
        <meta-data android:name="org.openintents.metadata.EMAIL"
                       android:value="@string/about_email" />
        <meta-data android:name="org.openintents.metadata.RECENT_CHANGES"
                       android:resource="@raw/recent_changes" />
        
        <activity android:name=".shoppinglist.ConvertCsvActivity"
                  android:label="@string/app_name">
                  <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             	-->
            <intent-filter android:label="@string/convert_csv">   
                <action android:name="org.openintents.convertcsv.CONVERT"/>                        
                <category android:name="android.intent.category.ALTERNATIVE" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.shopping.list" />
            </intent-filter>
            <!-- The following intent makes it viewable in a file browser. -->
            <intent-filter android:label="@string/convert_csv_shoppinglist">   
                <action android:name="android.intent.action.VIEW"/>                        
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/csv" />
            </intent-filter>
        </activity>
        <activity android:name=".notepad.ConvertCsvActivity"
                  android:label="@string/app_name">
                  <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             	-->
            <intent-filter android:label="@string/convert_csv">   
                <action android:name="org.openintents.convertcsv.CONVERT"/>                        
                <category android:name="android.intent.category.ALTERNATIVE" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.notepad.note" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openintents.notepad.note" />
            </intent-filter>
            
            <!-- The following intent makes it viewable in a file browser. -->
            <intent-filter android:label="@string/convert_csv_notepad">   
                <action android:name="android.intent.action.VIEW"/>                        
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/csv" />
            </intent-filter>
        </activity>
        
		<activity android:name=".PreferenceActivity"
			android:label="@string/menu_settings">
		</activity>
		
		<!-- Activities from OI Distribution Library -->
        <activity android:name="org.openintents.distribution.EulaActivity" />
        <activity android:name="org.openintents.distribution.NewVersionActivity" />
        
        <activity android:name=".InfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
    </application>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
	<uses-permission android:name="org.openintents.notepad.READ_PERMISSION" />
	<uses-permission android:name="org.openintents.notepad.WRITE_PERMISSION" />
	<uses-permission android:name="org.openintents.shopping.READ_PERMISSION" />
	<uses-permission android:name="org.openintents.shopping.WRITE_PERMISSION" />
	<permission android:name="org.openintents.notepad.READ_PERMISSION"
		android:label="@string/oi_notepad_permission_read" 
		android:description="@string/oi_notepad_permission_read_descr"
		android:permissionGroup="android.permission-group.PERSONAL_INFO"
		android:protectionLevel="normal" />
	<permission android:name="org.openintents.notepad.WRITE_PERMISSION"
		android:label="@string/oi_notepad_permission_write"
		android:description="@string/oi_notepad_permission_write_descr"
		android:permissionGroup="android.permission-group.PERSONAL_INFO"
		android:protectionLevel="normal" />
	<permission android:name="org.openintents.shopping.READ_PERMISSION"
		android:label="@string/oi_shopping_permission_read"
		android:description="@string/oi_shopping_permission_read_descr"
		android:permissionGroup="android.permission-group.PERSONAL_INFO"
		android:protectionLevel="normal" />
	<permission android:name="org.openintents.shopping.WRITE_PERMISSION"
		android:label="@string/oi_shopping_permission_write"
		android:description="@string/oi_shopping_permission_write_descr"
		android:permissionGroup="android.permission-group.PERSONAL_INFO"
		android:protectionLevel="normal" />
</manifest> 