<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.flashlight"
      android:versionCode="10002"
      android:versionName="1.0.2">
      
    <!-- required to keep the backlight turned on -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <!-- required to adjust the brightness -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.HARDWARE_TEST"/>
    
    <!-- required for automatic update -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application android:icon="@drawable/icon_flashlight" android:label="@string/app_name">
        <activity android:name=".Flashlight"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ColorPickerActivity"
                  android:label="@string/color_picker">
            <intent-filter>
                <action android:name="org.openintents.action.PICK_COLOR" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.openintents.distribution.EulaActivity" android:label="@string/eula_title">
        </activity> 
        <activity android:name="org.openintents.distribution.AboutActivity" android:label="@string/about_title">
        </activity> 
        
    </application>
</manifest> 