<?xml version="1.0" encoding="utf-8"?>
<!-- 
	* Copyright (C) 2008 OpenIntents.org
	*
	* Licensed under the Apache License, Version 2.0 (the "License");
	* you may not use this file except in compliance with the License.
	* You may obtain a copy of the License at
	*
	*      http://www.apache.org/licenses/LICENSE-2.0
	*
	* Unless required by applicable law or agreed to in writing, software
	* distributed under the License is distributed on an "AS IS" BASIS,
	* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	* See the License for the specific language governing permissions and
	* limitations under the License.
-->
<!-- NOTE: installLocation is not set to "auto" for the following purpose:
	"Your alarms registered with AlarmManager will be cancelled.
	You must manually re-register any alarms when external storage is remounted." -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.countdown"
      android:installLocation="internalOnly"
      android:versionCode="10005"
      android:versionName="1.1.1-rc1">
    <uses-sdk android:minSdkVersion="2" android:targetSdkVersion="9" />
    <!-- History:
	 * * * UPDATE ATRACKDOG METADATA BELOW FOR RELEASE CANDIDATES * * *
    1.1.1-rc1 [10005]: 2011-?
    1.1.0  [10004]: 2009-06-05
    1.1.0-rc1 [10003]: 2009-06-30
    1.1.0-beta1 [10002]: 2009-06-19
    1.0.1 [10001]: 2008-11-11 -->
      
    <!-- required for notifications -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    
    <application android:icon="@drawable/ic_launcher_countdown" android:label="@string/app_name">
    
        <!-- aTrackDog metadata -->
        <meta-data android:name="com.a0soft.gphone.aTrackDog.testVersion"
           android:value="10005" />
           
        <!-- OI About metadata -->
		<meta-data android:name="org.openintents.metadata.COMMENTS"
                       android:value="@string/about_comments" />
        <meta-data android:name="org.openintents.metadata.COPYRIGHT"
                       android:value="@string/about_copyright" />
        <meta-data android:name="org.openintents.metadata.AUTHORS"
                       android:resource="@array/about_authors" />
        <meta-data android:name="org.openintents.metadata.DOCUMENTERS"
                       android:resource="@array/about_documenters" />
        <meta-data android:name="org.openintents.metadata.TRANSLATORS"
                       android:resource="@string/about_translators" />
        <meta-data android:name="org.openintents.metadata.ARTISTS"
                       android:resource="@array/about_artists" />
        <meta-data android:name="org.openintents.metadata.WEBSITE_LABEL"
                       android:value="@string/app_name" />
        <meta-data android:name="org.openintents.metadata.WEBSITE_URL"
                       android:value="@string/about_website_url" />
        <meta-data android:name="org.openintents.metadata.LICENSE"
                       android:resource="@raw/license_short" />
        <meta-data android:name="org.openintents.metadata.EMAIL"
                       android:value="@string/about_email" />
        <meta-data android:name="org.openintents.metadata.DUZ_ID"
        			   android:value=""/>
                       
        <provider android:name=".db.CountdownProvider"
            android:authorities="org.openintents.countdown"
        />
    
        
        <activity android:name=".list.CountdownListActivity" 
        	android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openintents.countdown.duration" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.countdown.duration" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CountdownEditorActivity"
        	android:label="@string/title_setcountdown"
        	android:windowSoftInputMode="stateHidden"
        ><!-- 
        	android:launchMode="singleTop":
        	SINGLE_TOP is set programmatically in NotificationReceiver.
        	In this way, the activity can decide in onNewIntent() to launch
        	a new instance after all. -->
            <!-- This filter says that we can view or edit the data of
                 a single note -->
            <intent-filter android:label="@string/menu_edit">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.countdown.duration" />
            </intent-filter>

            <!-- This filter says that we can create a new note inside
                 of a directory of notes. -->
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openintents.countdown.duration" />
            </intent-filter>
        </activity>
            
        <activity android:name=".activity.SetCountdownActivity"
        	android:label="@string/title_setcountdown"
        >
            <!-- This filter says that any other application can set a countdown on
                 an arbitrary URI by calling this intent. -->
                 <!-- 
            <intent-filter
            	android:icon="@drawable/icon_hourglass" 
        		android:label="@string/title_setcountdown">
            	<action android:name="org.openintents.countdown.action.SET_COUNTDOWN" />
            	<category android:name="android.intent.category.ALTERNATIVE" />
            	<data android:mimeType="*/*" />
            </intent-filter>
             -->

        </activity>
         
         
        <receiver android:name=".NotificationReceiver">
        </receiver>
        
        <activity android:name=".automation.EditAutomationActivity"
        	android:label="@string/title_setcountdown_action">
            <intent-filter>
        		<action android:name="org.openintents.action.EDIT_AUTOMATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".automation.AutomationReceiver">
        	<intent-filter>
        		<action android:name="org.openintents.action.RUN_AUTOMATION" />
        	</intent-filter>
        </receiver>
        
        <!-- For backward compatibility with SDK 1.1 -->
		<activity android:name="org.openintents.compatibility.activitypicker.DialogHostingActivity"
			android:label="@string/activity_picker_label"
			android:theme="@*android:style/Theme.Dialog.Alert">
			<!-- <intent-filter>
				<action android:name="android.intent.action.PICK_ACTIVITY" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>  -->
		</activity>
        
    	<activity android:name=".PreferenceActivity" android:label="@string/settings"></activity>
        
        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".AlarmCancelReceiver" />
        
		<receiver android:name=".AlarmInitReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
			</intent-filter>
		</receiver>
		
        <service android:name=".AlarmService" />
        <!--  android:process=":remote" -->
        
		<!-- Activities from OI Distribution Library -->
        <activity android:name="org.openintents.distribution.EulaActivity" />
        <activity android:name="org.openintents.distribution.NewVersionActivity" />
        
    </application>
</manifest> 