<?xml version="1.0" encoding="utf-8"?>
	<!--
		* Copyright (C) 2007-2008 OpenIntents.org * * Licensed under the
		Apache License, Version 2.0 (the "License"); * you may not use this
		file except in compliance with the License. * You may obtain a copy of
		the License at * * http://www.apache.org/licenses/LICENSE-2.0 * *
		Unless required by applicable law or agreed to in writing, software *
		distributed under the License is distributed on an "AS IS" BASIS, *
		WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
		implied. * See the License for the specific language governing
		permissions and * limitations under the License.
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.openintents.locations">

	
	<!-- required for Locations (in order to getCurrentLocation) -->
	<uses-permission android:name="android.permission.ACCESS_GPS" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<!--
		<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	-->
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<application android:icon="@drawable/icon_location"
		android:label="@string/app_name">
		<!-- Libraries needed since SDK 72264 -->
		<uses-library android:name="com.google.android.maps" />
        
        
		<!-- Providers -->
		<provider android:name=".LocationsProvider"
			android:icon="@drawable/icon_location"
			android:authorities="org.openintents.locations" />
		<activity android:name=".About" android:label="@string/about_openintents">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<!--
					<category android:name="android.intent.category.LAUNCHER" />
				-->
			</intent-filter>
		</activity>
		<activity android:name=".InitView" android:label="@string/init_databases">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="org.openintents.category.SETTINGS" />
			</intent-filter>
		</activity>

		<!-- Locations activity -->
		<activity android:name=".LocationsView"
			android:label="@string/list_of_locations" android:icon="@drawable/icon_location">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
					<category android:name="android.intent.category.LAUNCHER" />
				
				<category android:name="org.openintents.category.MAIN" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.openintents.location" />
			</intent-filter>
		</activity>
		<activity android:name=".ExtrasView" />

		<!-- Location Map activity -->
		<activity android:name=".LocationsMapView" android:icon="@drawable/icon_location"
			android:label="@string/locations_map">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.openintents.location" />
			</intent-filter>
		</activity>
		<service android:name=".MockLocationService" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<!--
					<category android:name="android.intent.category.LAUNCHER" />
				-->
			</intent-filter>
		</service>
	</application>
</manifest>