<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.about.demo"
      android:versionCode="2"
      android:versionName="1.0.1">
    <!-- History:
    1.0.1 [2]: 2011-01-09
    1.0.0 [1]: 2009-01-12  -->
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <meta-data android:name="org.openintents.metadata.COMMENTS"
                       android:value="@string/about_comments" />
        <meta-data android:name="org.openintents.metadata.COPYRIGHT"
                       android:value="@string/about_copyright" />
        <meta-data android:name="org.openintents.metadata.AUTHORS"
                       android:resource="@array/about_authors" />
        <meta-data android:name="org.openintents.metadata.DOCUMENTERS"
                       android:resource="@array/about_documenters" />
        <meta-data android:name="org.openintents.metadata.TRANSLATORS"
                       android:resource="@array/about_translators" />
        <meta-data android:name="org.openintents.metadata.ARTISTS"
                       android:resource="@array/about_artists" />
        <meta-data android:name="org.openintents.metadata.WEBSITE_LABEL"
                       android:value="@string/about_website_label" />
        <meta-data android:name="org.openintents.metadata.WEBSITE_URL"
                       android:value="@string/about_website_url" />
        <meta-data android:name="org.openintents.metadata.LICENSE"
                       android:resource="@raw/license_short" />
        <meta-data android:name="org.openintents.metadata.EMAIL"
                       android:value="@string/about_email" />
                       
        <activity android:name=".Demo"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 