<?xml version="1.0" encoding="utf-8"?>
<!-- 
 * Copyright (C) 2010 OpenIntents.org
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->
 
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.themes.basiccolors"
      android:installLocation="auto"
      android:versionCode="2"
      android:versionName="1.0.0">
	<!-- History:
	 * * * UPDATE ATRACKDOG METADATA BELOW FOR RELEASE CANDIDATES * * *
	[2] 1.0.0:     2010-02-21
	[1] 1.0.0-rc1: 2010-02-11 -->
	
    <uses-sdk android:minSdkVersion="2"
    	android:targetSdkVersion="9" />
    
    <application android:icon="@drawable/basiccolors" android:label="@string/app_name">

        <!-- aTrackDog metadata -->
        <meta-data android:name="com.a0soft.gphone.aTrackDog.testVersion"
           android:value="1" />
        
        <!-- Theme definitions -->
	    <meta-data android:name="org.openintents.themes"
	        android:resource="@xml/themes"
	      />

        <activity android:name=".InfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
    </application>

</manifest> 