<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.openintents.dbbase" android:versionCode="1"
	android:versionName="1.0.0">
	<application android:icon="@drawable/icon_barrel" android:label="@string/app_name">
		<activity android:name=".activity.TablesView" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.ColumnsView" android:label="@string/app_name">
		</activity>
		<activity android:name=".activity.SingleRowFormView" android:label="@string/app_name">
		</activity>
		<provider android:name=".DBProvider" android:authorities="org.openintents.db" />
	</application>
</manifest>