<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.extensions.insertdate"
      android:installLocation="auto"
      android:versionCode="2"
      android:versionName="1.0.0">
	<!-- History:
	 * * * UPDATE ATRACKDOG METADATA BELOW FOR RELEASE CANDIDATES * * *
	[2] 1.0.0: 2009-12-31
	[1] 1.0.0-beta1: 2009-07-08 -->
	
    <uses-sdk android:minSdkVersion="2"
    	android:targetSdkVersion="9" />
    
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true" />
    
    <application android:icon="@drawable/ic_menu_month" android:label="@string/app_name">
    
        <!-- aTrackDog metadata -->
        <meta-data android:name="com.a0soft.gphone.aTrackDog.testVersion"
           android:value="1" />
           
        <activity android:name=".InsertDateActivity"
                  android:label="@string/insert_date"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="org.openintents.action.INSERT_DATE" />
                <category android:name="org.openintents.category.TEXT_SELECTION_ALTERNATIVE" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.openintents.distribution.InfoActivity"
			android:theme="@*android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
                <!-- <category android:name="android.intent.category.LAUNCHER" />  -->
            </intent-filter>
        </activity>
    </application>
</manifest> 